header {
  padding: 60px;
  text-align: center;
  background: #8a0404;
  color: white;
  font-size: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ce6666;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #8a0404;
    color: white;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .placer {
    margin-left: 90px;
    margin-right: auto;
    color: #8a0404;
  }
  .button {
    background-color: #8a0404;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }